body {
  background-color: #fafafa;
  color: #333;
}

.demo {
  padding: 0;
  width: 800px;
  margin: auto;
  display: flex;
  height: 100vh;
}

.demo>div {
  flex: 1;
  padding: 0 3rem;
}

.arimo-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}